<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <form method="post">
    {% csrf_token %}
    <pre>
    <h3>
    Your request has been submitted.We will analyse
    your problem and provide you withthe list of
    available doctors for your illness along with
     their available date & time.


    You can book free slots and also pay the
    booking fees through the link provided by us.</h3>

    </pre>
</form>
</center>
</body>
</html>